__pycache__/
.DS_Store
.pytest_cache/
.venv/
*.pyc
paper/*.aux
paper/*.bbl
paper/*.bcf
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.run.xml
paper/*.toc
output/pdf/*.aux
output/pdf/*.fdb_latexmk
output/pdf/*.fls
output/pdf/*.log
output/pdf/*.out
tmp/
